<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <test name="Test Basics 1">
        <classes>
            <class name="buggyCarsAutomation.test.LoginValidationTest"/>
            <class name="buggyCarsAutomation.test.LogoutValidationTest"/>
            <class name="buggyCarsAutomation.test.ProfileValidationTest"/>
            <class name="buggyCarsAutomation.test.RegisterUserValidationTest"/>
            <class name="buggyCarsAutomation.test.VotingValidationTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->